html,body{
  margin:0;
  /* height: 100vh; */
}
.main{
  background-color: aquamarine;
}

.input{
  width: 14rem;
  height: 2rem;
  margin-bottom: 30px;
}

.createbutton,.deletebutton{
  width: 4rem;
  height: 2rem;
  color: white;
  border: navajowhite;
}
.deletebutton{
  margin-top: 20px;
  background-color: rgba(241, 4, 4, 0.699);
}
.createbutton{
  background-color: rgba(0, 128, 0, 0.76);
}
.todo{
  text-align: center;
  background-color: rgba(7, 45, 170, 0.829);
  color: white;
  width: 10rem;
  height: 1.5rem;
  font-size: large;
  border-radius: 8px;
  margin-bottom: 8px;
}